In [5]:
import pandas as pd
import numpy as np
import seaborn as sns

In [11]:
# URL = ('https://en.wikipedia.org/wiki/List_of_largest_banks')
# tables = pd.read_html(url)
import pandas as pd
import requests

# Step 1: Link of the page
url = "https://en.wikipedia.org/wiki/List_of_largest_banks"

# Step 2: Send request like a browser (add User-Agent header)
headers = {"User-Agent": "Mozilla/5.0"}
response = requests.get(url, headers=headers)

# Step 3: Extract tables from the HTML content
tables = pd.read_html(response.text)

# Step 4: Take the first table (index 0)
df = tables[0]
df.head(10)
# Step 5: Show first 5 rows
print(df.head())

   Rank                                Bank name  \
0     1  Industrial and Commercial Bank of China
1     2               Agricultural Bank of China
2     3                  China Construction Bank
3     4                            Bank of China
4     5                           JPMorgan Chase

   Total assets (2024) (US$ billion)
0                            6303.44
1                            5623.12
2                            5400.28
3                            4578.28
4                            4002.81

C:\Users\hassa\AppData\Local\Temp\ipykernel_12876\3196997016.py:14: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables = pd.read_html(response.text)

In [12]:
df.shape

(100, 3)

In [14]:
df.isna().count()

Rank                                 100
Bank name                            100
Total assets (2024) (US$ billion)    100
dtype: int64

In [15]:
df.to_csv("Bank_data.csv",index=False)
print("created...")

created...